<!doctype html>

<html lang ="en-US">

<!-- <p title="Editor first line"> My name is Tom, this is my <strong> first ever </strong> web app!! </p> -->

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width"/>

    <title> My test page </title>

</head>

<title>


    <p> My name is Tom and this is my <strong> first ever <strong/> web app!!! <p/>


</title>

<h3>

    My name is Tom and this is my <strong> first ever <strong/> web app!!!

<h3/> 

<body>

    <%= image_tag("Aug10-1.jpg", :width => "90%" , :height => "90%") %>

    <p>
    
        This is me and my fiancé, Ana Marcela, the most beautiful woman ever created.
        The picture was taken on the 10th of august of the year 2024, when we
        got engaged, you know, when I asked her "the big question", haha.
        I made this page to test my knowledge and apply what I am currently learning
        from the Ruby on Rails framework and HTML, CSS and well, other web dev tools.
        Blessings to you all. 
        
    <p/>

    <p>

        These are some special dates in our relationship:

    <p/>

    <ul>

        <li> December the third 2022 (When we first met)

        <li> April the eleventh 2023 (When we formally started our dating relationship)

        <li> June the eleventh 2024 (We had an unforgettable and amazing vacation time together)

        <li> August the tenth 2024 (When we got engaged)

    <ul/>

    <p>

        If you want to visit my YouTube channel, click on the link down below: 

    <p/>

    <a href="https://www.youtube.com/@tomasescobarruiz9648"> 
    
        My channel. 
        
    <a/>

    <p>

        If you want to visit the about page:

    <p/>

    <a href="localhost:3000/about">

        The about page.

    <a/>

</body>

</html>